In [1]:
import pandas as pd

## Creating a data frame

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns = ['A','B','C'], index = ['a', 'b', 'c'])

In [3]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

### Basic properties and methods on dataframe

* DataFrame.**shape** -- returns the *tuple(rows, columns)*
* DataFrame.**size** -- returns *no. of elements* in the dataframe
* DataFrame.**columns** -- returns the *array of column names*
* DataFrame.**index** -- returns the *array of indexing of rows*
* DataFrame.**info()** -- gives information about the dataframe *memony consumption*
* DataFrame.**describe()** -- gives *statistical information* abt if numeric column otherwise claculates other parameters if                  not numerical column
* DataFrame.**nunique()** -- returns *number of unique values for each column*
* DataFrame[column_name].**unique()** -- returns an *array of all the unique values in the column*

In [4]:
df.shape

(3, 3)

In [5]:
df.size

9

In [6]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [7]:
df.index.to_list()  #to_list() converts it into list

['a', 'b', 'c']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [9]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [10]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [11]:
df['A'].unique()

array([1, 4, 7], dtype=int64)

#### Assigning values of a column as index

In [12]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [14]:
df.index = df['B']  #Assigning values of B column as indexes
df

   A  B  C
B
2  1  2  3
5  4  5  6
8  7  8  9